.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  margin-left: 10px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.tulos {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.alipaino {
  background-color: #A1C7FF;
}

.normaali {
  background-color: #D8FFE8;
}

.lievä {
  background-color: #FFF2C0;
}

.merkittävä {
  background-color: #FFD72B;
}

.vaikea {
  background-color: #FF8306;
}

.sairaalloinen {
  background-color: #FF1B01;
}